.little {
	font-size: var(--little);
}

.small {
	font-size: var(--small);
}

.medium {
	font-size: var(--medium);
}

.average {
	font-size: var(--average);
}

.large {
	font-size: var(--large);
}

.extra-large {
	font-size: var(--extra-large);
}

.major {
	font-size: var(--major);
}

.saturated {
	color: var(--font-default);
}

.pale {
	color: var(--font-pale-default);
}