.wrapper {
	background: var(--body-bg-default);
	display: grid;
	min-height: 100vh;
	padding: 20px 0;
	grid-template-columns: minmax(10px, auto) 250px minmax(320px, 1200px) minmax(10px, auto);
	grid-template-rows: 60px auto;
	grid-template-areas:
	'. sidebar header .'
	'. sidebar main .';
}

.header {
	grid-area: header;
}

.sidebar {
	grid-area: sidebar;
	height: 100%;
}

.main {
	padding: 0 40px;
	grid-area: main;
}